html,

body {
    font-family: 'Montserrat', sans-serif;
}
.rightContent{
    text-align: center;
}
#icon {
    font-size: 36px; 
    cursor:pointer; 
    float: left; 
    position: absolute;
    left:25px;
    top:10px;
    color: white;
}
.banner h1{
    text-align: center;
    font-size: 50px;
    background-color: #00a7b0;
    color: white;
    margin-top: 0;
}
.navigation span {
    font-size:50px;
    cursor:pointer;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #353535;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ededed;
    display: block;
    transition: 0.3s;
    border-bottom: 2px solid #ededed;
}
.sidenav p{
    font-size: 25px;
    padding: 8px 8px 0px 12px;
    color: #ededed;
}


.sidenav a:hover, .offcanvas a:focus {
    color: #00a7b0;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border-bottom: none;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
#noteView h2{
	font-size: 56px;
}

#noteSelect select {
   border: 0;
   color: white;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   width: 200px;
   height: 25px;
   overflow:hidden;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 0px 0px 5px gray;
   background: #00a7b0;
}

#noteSelect option{
   background: white;
   color: black;
}
#toggle{
	padding-right: 30px;
}
#stop{
	padding-left: 30px;
}
#practiceHistory li{
	list-style: none;
}
.timerMessage{
    width: 240px;
    height: 45px;
}
.sendButton{
    background: #00a7b0;
    color: white;
    height: 45px;
    font-size: 20px;
    border: none;
    text-decoration: none;
}
.sendButton:hover{
    cursor: pointer;
    opacity: 0.8;
}
#practiceList{
    list-style: none;
    text-align: left;
}